<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
</head>
<body>
<!-- Learn the difference between GET and POST methods -->
<form action="/loginNext" method="get">
	<p> User ID: <input type="text" name="userid"> </p>
	<p> Password : <input type="password" name="loginpassword"> </p>
	<p> <input type="submit" value="Log Me In!"> </p>
</form>
<!-- Now in Post Method -->
<!-- <form action="/loginNext" method="post">
	<p> User ID: <input type="text" name="userid"> </p>
	<p> Password : <input type="password" name="loginpassword"> </p>
	<p> <input type="submit" value="Log Me In!"> </p>
</form> -->
</body>
</html>